# Ignore IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore Eclipse specific files
.classpath
.project
.settings/

# Ignore Maven specific files
target/
pom.xml.lock.properties

# Ignore Gradle specific files
.gradle/
build/

# Ignore OS-specific files
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*~

# Ignore IDE specific files
.vscode/

# Ignore compiled Java classes
*.class